<h1>Harmony test</h1>

<%# if current_user %>
  <%  if File.exists?("outputfile.ly")
        File.delete( "outputfile.ly")
    end
    output = File.open( "outputfile.ly","w")
    
   ary = ["<c' g'>8", "<d' a'>", "<c'e'>","<d'g'>","<d'a'>","<d'a'>","<c'e'>","<d'a'>","<c'g'>","<d'g'>","<e'a'>","<e'a'>"]
   ary2 = [["c'8" "g'8"], ["d'","a'"], ["c'","e'"]]
   
    output << "{ \\time 6/8 "
    #ary2.each do |elem|
    ary.each do |elem|
        if Random.rand(2) == 0
            output << elem
            #if Random.rand(2) ==0
            #    output << elem[0]
            #else
            #    output << elem[1]
            #end
        else 
            output << "r8"
        end
    end
   
     output << "}"
    output.close 
    if File.exists?("app/assets/images/outputfile.png")
        File.delete( "app/assets/images/outputfile.png")
    end
    Kernel.system( "lilypond --png -o app/assets/images outputfile.ly" ) %>
    <%= image_tag 'outputfile.png' %>
<%# end %>

<%# Random.rand(100) %>

