<h1>Harmony test</h1>
<li><%= Random.rand(100) %> </li>

<%# if current_user %>
  <%  if File.exists?("outputfile.ly")
        File.delete( "outputfile.ly")
    end
    output = File.open( "outputfile.ly","w")
    #$output << "{  c' e' g' e'}"
    randval = Random.rand(3)
    
    if randval == 1 
        output << "{  c' g'}"
    elsif randval == 2
        output << "{  c' e'}"
    else
        output << "{  e' g'}"
    end
    output.close 
    if File.exists?("app/assets/images/outputfile.png")
        File.delete( "app/assets/images/outputfile.png")
    end
    system( "lilypond --png -o app/assets/images ./outputfile.ly" ) %>
    <li><%= image_tag 'outputfile.png' %></li>
<%# end %>

<%# Random.rand(100) %>

