<h1>Harmony test</h1>

<%# if current_user %>
  <%  if File.exists?("outputfile.ly")
        File.delete( "outputfile.ly")
    end
    output = File.open( "outputfile.ly","w")
    
   ary = ["<d' a'>", "<f' b'>", "<g'd''>"]
   
    #output << "{  c' e' g' e'}"
    randval = Random.rand(3) %>
    <%= randval %>
    <%
    #output << "{ < a' b'>"
    output << "{"
    if randval == 1 
        output << "  c' g'" << ary.fetch(2)
    elsif randval == 2
        output << "  c' e'"
    else
        output << "  e' g'"
    end
     output << "}"
    output.close 
    if File.exists?("app/assets/images/outputfile.png")
        File.delete( "app/assets/images/outputfile.png")
    end
    Kernel.system( "lilypond --png -o app/assets/images outputfile.ly" ) %>
    <li><%= image_tag 'outputfile.png' %></li>
    <li><%= randval %></li>
<%# end %>

<%# Random.rand(100) %>

