     <footer class="footer-distributed ">

        <div class="footer-left ">

          <h3>My<span>Volo</span></h3>

          <p class="footer-links ">
            <a href="# ">Home</a> ·
            <a href="# ">Blog</a> ·
            <a href="# ">Pricing</a> ·
            <a href="# ">About</a>
            <br>
            <a href="# ">Site Map</a> ·
            <a href="# ">Faq</a> ·
            <a href="# ">Contact</a> ·
            <!-- (phone? mail?) -->
            <a href="# ">Legal</a>
            <!-- (privacy policy, terms of use) -->
          </p>
          <p class="footer-company-name ">&copy; Member Solutions 2016</p>
          <div class="footer-icons ">
            <a href="# "><i class="fa fa-facebook"></i></a>
            <a href="# "><i class="fa fa-twitter"></i></a>
            <a href="# "><i class="fa fa-youtube"></i></a>
            <a href="# "><i class="fa fa-instagram"></i></a>
          </div>
        </div>
        <div class="footer-right">
          <p>Contact Us</p>
          <form action="#" method="post">
            <input type="text " name="email " placeholder="Email ">
            <textarea name="message " placeholder="Message "></textarea>
            <button class="send-button-text">Send</button>
          </form>
        </div>
      </footer>